/* Allgemeine Stile */
:root {
    font-family: 'Montserrat', sans-serif;
}

.topnav {
    background-color: #2A2B2A;
    overflow: hidden;
}

.topnav a:hover {
    background-color: grey;
    color: black;
}

.topnav a.active {
    background-color: #265f4a43;
    color: white;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

html {
    scroll-behavior: smooth;
}

.left {
    float: left;
    color: rgb(6, 187, 144);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right {
    float: right;
    color: rgb(6, 187, 144);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

/* Produktbereich */
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
    align-items: center;
    font-family: "Merriweather", serif;
}

.product-image-right {
    grid-column: 3;
    grid-row: 2;
    padding: 0px;
    margin: 7vh 20px;
}

.product-description-left {
    grid-column: span 2;
    grid-row: 2;
    margin: 50px;
    padding: 20px 20px;
    text-align: left;

}

.product-image-left {
    grid-column: 1;
    padding: 0px;
    margin: 7vh 5px;
}

.product-description-right {
    grid-column: span 2;
    margin: 50px;
    padding: 20px 20px;
    text-align: left;
}

.product-image img {
    display: block;
    max-width: 85%;
    min-width: 50px;
}

.product-description h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.product-description p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: "Merriweather", serif;
}

model-viewer {
    width: 100vh;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: gray;
}

.controls {
    display: flex;
    justify-content: space-around;
}

/*Product Site*/
.container {
    display: flex;
}

.filter {
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    height: 100vh;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

.product img {
    width: 100%;
    height: auto;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}

.product-price {
    font-weight: bold;
}

.product-name {
    margin-top: 5px;
}

/* Footer */
footer {
  background-color: #2A2B2A;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 960px;
  margin-left: 15%;
}

.footer-content {
  text-align: center;
}

.footer-title {
  margin-bottom: 25px;
  margin-left: 10%;
}

.footer-subtitles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 50px;

}

.footer-lists {
  display: flex;
  justify-content: space-between;
}

.left-list,
.right-list {
  list-style: none;
  padding: 0;
}

.left-list li,
.right-list li {
  margin-bottom: 5px;
}

#left-subtitle {
  margin-left: 150px;
}

#right-subtitle {
  margin-right: 10px;
}

#story {
  margin-right: 100px;
}

#instagram_logo {
  height: 50px;
  width: 50px;
  margin-top: 50px;
}

#youtube_logo {
  height: 42px;
  width: 50px;
  margin-top: 50px;
  margin-bottom: 5px;
}

#jump_products {
  margin-right: 175px;
  transition: 0.3 ease;
  text-decoration: none;
  color: white;
  margin-top: 15px;
}
